.white {
	color: white;
}

body {
  padding-top: 50px;
}

.issue-list-btn {
  width: 100%;
  margin-top: 1em;
}

.picture
{
 width:100px;
 float:left;
 margin-right:1em;

}

#page-holder {
	height:100%;
}

.candidate-issue {
	overflow:hidden;
	border: 1px solid black;
	padding:16px;
	height:128px;
}

.candidate-issue > img {
	float:left;
	background-color: black;
	width:96px;
	height:96px;
}

.candidate-issue > .candidate-issue-text {
	float:left;
	overflow:hidden;
	padding-left:16px;
	width:90%;
	height:96px;
}

